.ios, .md {
 
    home-page {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
 
    }
 
}

/* UNBLOCK WITH TEST, NO CLOSING
page-home{   
     #map {
        height: 100%;
        width: 100%;
    }
    //Optional: Makes the sample page fill the window.

    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }


    .content {
        display: flex;
        
    }
}
*/