/*FOR PLACES MAP
#map {
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
*/

/*WORKING TUTORIAL */
.ios, .md {
 
    home-page {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }

      .centerbutton {
        display: flex;
        justify-content: center;
      }

      .centertitle {
        display: flex;
        justify-content: center;
      }

      .walk-icon {
        margin: auto;
      }
 
    }
 
}


/* UNBLOCK WITH TEST
page-home{   
     #map {
        height: 100%;
        width: 100%;
    }
    //Optional: Makes the sample page fill the window.

    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }


    .content {
        display: flex;
        
    }
}
*/
